@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "Gang of Three";
  src: url("../public/go3v2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.gang-of-three {
  font-family: "Gang of Three", Arial, sans-serif;
  text-shadow: -3px -3px 0 black, 3px -3px 0 black, -3px 3px 0 black,
    3px 3px 0 black;
}

.background-china {
  background-image: url("../public/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
