@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Gang of Three";
  src: url("../public/go3v2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hashiba";
  src: url("../public/Hashiba.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.gang-of-three {
  font-family: "Gang of Three", Arial, sans-serif;
}

.hashiba {
  font-family: "Hashiba", serif;
}

.gang-of-three.shadow {
  text-shadow: -3px -3px 0 black, 3px -3px 0 black, -3px 3px 0 black,
    3px 3px 0 black;
}

.background-china {
  background-image: url("../public/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.translate-center {
  transform: translate(-50%, -50%);
  left: 50%;
}

*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.bg-house {
  background-image: url("../public/house.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1024px) {
  .bg-house {
    background-position: top;
  }
}

.bg-letter {
  background-image: url("../public/letter.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-mountain {
  background-image: url("../public/mountain.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-tag {
  background-image: url("../public/tag.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
